.authStart{
    width: 90%;
    max-width: 350px;
    margin: auto;
    text-align: center;
    height: 90%;
    max-height: 450px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.authStart--head h2{
    color: var(--root-color);
    font-weight: 700;
}
.authStart--main p{
    margin-top: 1rem;
    color:rgba(98, 97, 97, 1);
}
.authStart--actions{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    font-family: var(--ff-poppins);
}
.authStart--actions a{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
    font-family: var(--ff-poppins);
}
.authStart--actions a:first-child{
    background-color: var(--root-color);
    color: white;
    padding: 1.2rem;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.152);
}
.authStart--actions a:last-child{
    border: 0.2rem solid var(--root-color);
    border-radius: 0.7rem;
    color: var(--root-color);
}
@media (hover: hover) {
    .authStart--actions a:first-child:hover{
        color:var(--root-color);
        background-color: white;
    }
    .authStart--actions a:last-child:hover{
        background-color: var(--root-color);
        color: white;
    }
}