.login{
    width: 100%;
    max-width: 500px;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.login--head{
    color: var(--root-color);
}
.login--head h1{
    margin-bottom: 0.4rem;
}
.login--head p span{
    font-weight: 700;
}
.login--actions{
    font-family: var(--ff-poppins);
    margin-top: 2.2rem;
}
.login--main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top:2rem ;
}
.login--options{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login--options a{
    color: rgba(138, 166, 182, 1);
    font-size: 0.85rem;
}
@media screen and (max-width:700px) {
    .login{
        position: unset;
        top:unset;
        left:unset;
        transform: unset;
        max-width: unset;
    }
    .login--head{
        background-color: var(--root-color);
        color: white;
        height:200px;
        padding-top: 6em;
        padding-left: 5%;
        margin-bottom: 3rem;
        text-align: left;
    }
    .login--main, .login--actions, .login--options{
        width: 90%;
        margin: auto;
    }
    .login--actions{
        margin-top: 2rem;
    }
}